[Unit]
Description=uWSGI Container Server for onlineshop
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/var/www
Environment="PATH=/var/www/venv/bin"
ExecStart=/var/www/venv/bin/uwsgi --init config/onlineshop.init

[Install]
WantedBy=multi-user.target